[package]
name = "os_pipe"
version = "0.9.2"
authors = ["Jack O'Connor"]
description = "a cross-platform library for opening OS pipes"
repository = "https://github.com/oconnor663/os_pipe.rs"
readme = "README.md"
documentation = "https://docs.rs/os_pipe"
license = "MIT"
edition = "2018"

[target.'cfg(not(windows))'.dependencies]
libc = "0.2.62"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.5", features = ["handleapi", "namedpipeapi", "processthreadsapi", "winnt"] }
